body {
  font-family: "PT Sans", serif;
  margin: 0;
}
.navbar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 7vh;
  background: #8f68c0;
  padding: 1vh 0;
  z-index: 3;
}
.top-logo {
  display: flex;
}

.nbn-logo-nav {
  margin-left: 1vw;
  height: 100%;
}
.nbn-path {
  fill: white;
  transition: fill 1s ease;
}
.homepage-link:hover .nbn-path {
  fill: #b6acd1;
}
.heading {
  margin-top: 100px;
  padding-left: 20px;
  width: 60%;
}
.heading h1 {
  font-size: 3em;
  margin: 0;
}
#mapid {
  height: 600px;
  z-index: 1;
}
.wrapper {
  display: flex;
}
.wrapper .col1,
.col2,
.col3 {
  display: block;
  margin: auto;
  margin-top: 0;
}
.filter-wrapper h2 {
  text-align: center;
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
}
.filter-wrapper-flex {
  display: flex;
  width: 95%;
  margin: auto;
}
.filter-wrapper-flex .about-filters {
  display: block;
  width: 30%;
  margin: 1%;
  padding: 1%;
}
table {
  margin: auto;
  border-collapse: collapse;
  width: 100%;
}
tr:hover {
  background-color: #b6acd1;
}
td {
  padding: 3px;
}
tr {
  border-bottom: 1px solid #b6acd1;
}
ul {
  padding: 0;
}
#search {
  background-color: #8f68c0;
  color: white;
  padding: 5px 20px 5px 20px;
  border: none;
  font-size: 1.2em;
  font-family: "PT Sans", serif;
  font-weight: bold;
}
#search:hover {
  cursor: pointer;
}
.table-headings {
  border-bottom: 3px solid #8f68c0;
  text-align: left;
}
.table-headings:hover {
  background-color: transparent;
}
.wrapper .col1 {
  width: 25%;
}
.wrapper .col2 {
  width: 45%;
}
.wrapper .col3 {
  width: 25%;
}
.wrapper li {
  list-style: none;
}
.filter-option {
  font-weight: bold;
}
@media (max-width: 800px) {
  .wrapper {
    flex-direction: column;
  }
  .wrapper .col1 {
    display: none;
  }
  .wrapper .col2 {
    width: 90%;
    height: fit-content;
    margin-top: 0;
  }
  .wrapper .col3 {
    width: 100%;
    height: fit-content;
    margin-top: 0;
  }
  .filter-dorms {
    border-top: 3px solid #8f68c0;

    padding-top: 30px;
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 20px;
  }
  #search {
    display: block;
    margin: auto;
  }
  .filter-dorms li,
  ul {
    margin: 0;
    padding: 0;
  }
  .filter-wrapper-flex {
    flex-direction: column;
  }
  .filter-wrapper-flex .about-filters {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
